<div class='navbar-container'>
    <div class='logo' style='padding-left: 30px;'>
        <img src='../../assets/images/shop.png' >
        <h4 *ngIf='productPage' style='margin-left:20px;'>Products</h4>
        <h4 *ngIf='checkoutPage' style='margin-left:20px;'>Check Out</h4>
    </div>
    <nav style="display: flex; float: right; padding-right: 30px;">
        <ul class='nav-items'>
            <li><button *ngIf='checkoutButton' class="button" style='background-color: orange; color: #fff; float: right;' (click)='checkOut()'>Checkout</button></li>
            <li *ngIf='checkoutPage'><a [routerLink]="['/products']" routerLinkActive="router-link-active" >Back</a></li>
        </ul>       
    </nav>   
</div>
